<p id="notice"><%= notice %></p>

<p>
  <b>问题:</b>
  <%= @question.content %>
</p>

<h2>回答</h2>
<%= render @question.answers %>


<h2>add answers</h2>

<%= render "answers/form" %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
